@import "../../../utils/breakpoints.module.scss";
@import "../../../utils/variables.module.scss";

.container {
    height: 100vh;
    width: 50vw;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    right: 0;
    background-color: $white2;
    z-index: 50;
    transition: all 0.4s $cb-1;
    transform: translateX(100%);
    @include breakpoint(md) {
        width: 100vw;
        height: 100dvh;
        transition: all 0.4s ease-in-out;
        opacity: 0;
    }
}
.open {
    transform: translateX(0%);
    opacity: 1;
}

.top {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem;
    padding-right: 7rem;
    min-height: 6rem;
    max-height: 6rem;
    gap: 3rem;

    @include breakpoint(md) {
        min-height: 4rem;
        max-height: 4rem;
        gap: 1rem;
        padding-right: 4rem;
    }
    @include breakpoint(sm) {
        padding: 0 1rem;
        flex-direction: column-reverse;
        min-height: auto;
        justify-content: flex-start;
        max-height: 200rem;
        height: 10rem;
    }
}
.basic_link_container {
    display: flex;
    justify-content: space-between;
    width: 36rem;
    align-items: baseline;
    @include breakpoint(xl) {
        width: 32rem;
    }
    @include breakpoint(lg) {
        width: 25rem;
    }
    @include breakpoint(md) {
        width: 23rem;
    }

    @include breakpoint(sm) {
        width: 100%;
        max-width: 20rem;
        padding: 1.2rem 0;
    }
}

.basic_link {
    @include h3;
    color: $black;
    text-decoration: none;
    transition: all 0.3s 0s $cb-1;

    &:hover {
        color: $grey1;
    }
}

.language {
    @include p3;
    cursor: pointer;
    color: $black;
    transition: all 0.3s 0s $cb-1;
    background-color: $grey1;
    padding: 0.5rem;
    border-radius: 50%;
    @include breakpoint(sm) {
        margin-top: 0.5rem;
    }
    &:hover {
        color: $grey1;
        background-color: $black;
    }
}
.category_grid {
    width: 100%;
    height: 100%;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    @include breakpoint(md) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

.category {
    width: 100%;
    height: 100%;
    position: relative;

    &:hover {
        & .overlay {
            opacity: 0.6;
        }
    }
}
.title {
    @include h3;
    color: $white2;
    z-index: 54;
    position: absolute;
    transition: all 0.3s 0s $cb-1;
    padding: 1.5rem 2rem;

    @include breakpoint(md) {
        padding: 1.7rem 1.7rem;
    }
}
.image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $overlay-gradient;
    opacity: 1;
    transition: all 0.3s 0s $cb-1;
    z-index: 53;
}
