@import "/app/utils/breakpoints.module.scss";
@import "/app/utils/variables.module.scss";

.container {
    width: 100%;
    z-index: 40;

    @include breakpoint(md) {
        height: 4rem;
        background-color: $white1;
        box-shadow: 0 1px 10px 0px rgba(148, 148, 148, 0.2);
        position: fixed;
        top: 0;
    }
}

.logo_container {
    display: flex;
    position: fixed;
    text-decoration: none;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 6rem;
    aspect-ratio: 1.2 / 1;
    z-index: 50;
    @include breakpoint(md) {
        height: 4rem;
        aspect-ratio: 1.4 / 1;
    }

    @include breakpoint(sm) {
        aspect-ratio: 1.2 / 1;
    }

    &:hover {
        & .logo_bottom {
            background-position: 0% 0%;
        }
    }
}

.logo_top {
    @include respond(font-size, 1.3rem, 1.5rem, 1.8rem, 1.9rem, 2rem);
    font-weight: 700;
    color: $black;
    line-height: 75%;
}

.logo_bottom {
    @include respond(font-size, 0.95rem, 1.1rem, 1.3rem, 1.35rem, 1.45rem);
    font-weight: 500;
    line-height: 125%;
    @include text-gradient;
}
