@import "../../../utils/breakpoints.module.scss";
@import "../../../utils/variables.module.scss";

.container {
    display: flex;
    flex-direction: column;
    margin: 15rem auto;
    align-items: flex-start;
    justify-content: center;
    gap: 0rem;
    @include page-width;

    @include breakpoint(md) {
        margin: 10rem auto;
    }
    @include breakpoint(sm) {
        margin: 7rem auto;
    }
}
