@import "/app/utils/breakpoints.module.scss";
@import "/app/utils/variables.module.scss";

.container {
    min-height: 100vh;
    margin-bottom: 10rem;
    @include breakpoint(md) {
        margin-bottom: 8rem;
    }
    @include breakpoint(sm) {
        marigin-bottom: 6rem;
    }
}
.open {
    transition: all 0.3s 0s $cb-1;
    & > .overlay {
        opacity: 1;

        transition: opacity 0.2s 0.1s $cb-1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 30;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
}
.closed {
    & > .overlay {
        transition: opacity 0.2s 0.1s $cb-1, visibility 0s 0.4s linear;
        opacity: 0;
        visibility: hidden;
    }
}
