@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

@font-face {
    font-family: "Onest", Poppins, "Helvetica";
    src: url("/fonts/Onest.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    max-width: 100vw;
    overflow-x: clip;
    scrollbar-width: thin;
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Onest;
}

body {
    background-color: #f6f6f6;
    min-height: 100vh;
}
