@import "../../utils/breakpoints.module.scss";
@import "../../utils/variables.module.scss";

.open {
    transition: all 0.3s 0s $cb-1;
    & > .overlay {
        opacity: 1;

        transition: opacity 0.2s 0.1s $cb-1;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 30;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
}
.closed {
    min-height: 85vh;

    & > .overlay {
        transition: opacity 0.2s 0.1s $cb-1, visibility 0s 0.4s linear;
        opacity: 0;
        visibility: hidden;
    }
}
