@import "/app/utils/breakpoints.module.scss";
@import "/app/utils/variables.module.scss";

.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: $black;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.text {
    @include p4;
    color: $grey2;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s 0s $cb-1;
    &:hover {
        color: $white2;
    }
}
