@import "/app/utils/breakpoints.module.scss";
@import "/app/utils/variables.module.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%) translateY(150%);
    z-index: 30;
    width: auto;
    background: rgba(255, 255, 255, 0.534);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.59);
    border-radius: 1rem;
    color: $black;
    gap: 1rem;
    transition: all 0.3s 0s $cb-1;
    padding: 0.7rem;
    padding-left: 1.5rem;
    width: 33rem;
    @include breakpoint(xl) {
        width: 28rem;
    }
    @include breakpoint(lg) {
        width: 25rem;
    }
    @include breakpoint(md) {
        width: 28rem;
    }

    @include breakpoint(sm) {
        width: 95vw;
        gap: 0.5rem;
        padding: 0.5rem;
        padding-left: 1rem;
    }
}

.show {
    transform: translateX(-50%) translateY(0%);
}

.message {
    width: 100%;
    @include p4;
}

.register {
    width: 100%;
    all: unset;
    cursor: pointer;
    background-color: $black;
    border: none;
    border-radius: 0.6rem;
    @include p4;
    color: $white1;
    padding: 0.8rem 0.8rem;
    height: 100%;
    font-weight: 500;
    text-align: center;
}

.close {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    background-color: rgb(221, 221, 221);
    border-radius: 50%;
    & > * {
        height: 1.8rem;
        width: 1.8rem;
        // opacity: 0.3;
        color: white;
    }
}
