@import "/app/utils/breakpoints.module.scss";
@import "/app/utils/variables.module.scss";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    overflow-x: clip;
    padding-bottom: 3%;

    @include breakpoint(md) {
        padding-bottom: 8%;
    }
    @include breakpoint(prt) {
        gap: 1rem;
    }
}

.feature_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-right: calc(20vw + 1rem);

    @include breakpoint(prt) {
        gap: 1rem;
    }
    @include breakpoint(prt) {
        padding-right: calc(60vw + 0.5rem);
    }
}
